body
{
    text-align: center;
    background-color: ghostwhite;
}

div
{
    display: inline-block;
    text-align: left;
}

input.no
{
    background-color: pink;
}

input.yes
{
    background-color: lightgreen;
}
