body
{
    margin: 0;
}

.bg
{
    width: 1200px;
    height: 800px;
    background-image: url(images/bg.png);
}

.photo
{
    width: 791px;
    height: 674px;
    background-color: white;
    position: absolute;
    margin-top: 62px;
    margin-left: 59px;
    overflow: hidden;
}

#text
{
    width: 280px;
    height: 200px;
    margin-left: 896px;
    position: absolute;
    margin-top: 180px;
    font-size: 20px;
    font-family: 微軟正黑體;
    color: gray;
}
