@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

html
{
    background: url(images/feedback-img.jpg) no-repeat;
    background-size: cover;
    height: 100%;
}

#feedback-page
{
    text-align: center;
}

#form-main
{
    width: 100%;
    float: left;
    padding-top: 0px;
}

#form-div
{
    background-color: rgba(72,72,72,0.4);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    padding-bottom: 50px;
    width: 450px;
    float: left;
    left: 50%;
    position: absolute;
    margin-top: 30px;
    margin-left: -260px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.feedback-input
{
    color: #3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}

    .feedback-input:focus
    {
        background: #fff;
        box-shadow: 0;
        border: 3px solid #3498db;
        color: #3498db;
        outline: none;
        padding: 13px 13px 13px 54px;
    }

.focused
{
    color: #30aed6;
    border: #30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name
{
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjUxMnB4IiBoZWlnaHQ9IjUxMnB4IiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNTEyIDUxMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgZmlsbD0iIzNjM2MzYyI+PHBhdGggaWQ9InVzZXItaWNvbiIgZD0iTTQwNy40NDgsMzYwLjQ3NGMtNTkuMDM2LTEzLjYxNy0xMTMuOTg5LTI1LjU0MS04Ny4zNzUtNzUuNzE3YzgxLjAxLTE1Mi43MjksMjEuNDczLTIzNC40MDYtNjQuMDcyLTIzNC40MDZjLTg3LjIzMSwwLTE0NS4zMDMsODQuODEyLTY0LjA3MiwyMzQuNDA2YzI3LjQxMiw1MC40ODItMjkuNjA4LDYyLjM5My04Ny4zNzUsNzUuNzE3Yy01OS4wMTIsMTMuNjA5LTU0LjQ3Myw0NC43MjMtNTQuNDczLDEwMS4xNzZoNDExLjgzOEM0NjEuOTE5LDQwNS4xOTYsNDY2LjQ1OCwzNzQuMDgzLDQwNy40NDgsMzYwLjQ3NHoiLz48L3N2Zz4=);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#email
{
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjUxMnB4IiBoZWlnaHQ9IjUxMnB4IiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNTEyIDUxMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgZmlsbD0iIzNjM2MzYyI+PHBhdGggaWQ9ImVtYWlsLTMtaWNvbiIgZD0iTTI1Ni4wMTcsMjczLjQzNkw1MC44NDcsMTAzLjQwN2g0MTAuOTA0TDI1Ni4wMTcsMjczLjQzNnogTTI1NS45ODMsMzI4Ljg5OEw1MCwxNTguMjQ0djI1MC4zNDloNDEyVjE1OC42NTNMMjU1Ljk4MywzMjguODk4eiIvPjwvc3ZnPg==);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

textarea
{
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

    input:hover, textarea:hover,
    input:focus, textarea:focus
    {
        background-color: white;
    }

#register
{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    float: left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    font-size: 24px;
    padding-top: 22px;
    padding-bottom: 22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

    #register:hover
    {
        background-color: rgba(0,0,0,0);
        color: #0493bd;
    }

.submit:hover
{
    color: #3498db;
}

.ease
{
    width: 0px;
    height: 74px;
    background-color: #fbfbfb;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
}

.submit:hover .ease
{
    width: 100%;
    background-color: white;
}

@media only screen and (max-width: 580px)
{
    #form-div
    {
        left: 3%;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
}

#status
{
    width: 25px;
    height: 25px;
    position: absolute;
    margin-top: -66px;
    margin-left: 406px;
}

    #status.loading
    {
        background-image: url(images/loading.gif);
    }

    #status.ok
    {
        background-image: url(images/ok.gif);
    }

    #status.no
    {
        background-image: url(images/no.png);
    }
