body {
    background-color: #2d2e29;
}

.layout {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -147px;
    margin-top: -73px;
}

.outbox {
    text-align: center;
}

#box1,
#box2,
#box3 {
    background-image: url(../images/dice.png);
    width: 55px;
    height: 55px;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
}

.d1 {
    background-position: 109px 0;
}

.d2 {
    background-position: 109px -54px;
}

.d3 {
    background-position: 55px 0;
}

.d4 {
    background-position: 0 0;
}

.d5 {
    background-position: 163px 0;
}

.d6 {
    background-position: 163px -108px;
}

.btn {
    -moz-box-shadow: 0px 1px 0px 0px #1c1b18;
    -webkit-box-shadow: 0px 1px 0px 0px #1c1b18;
    box-shadow: 0px 1px 0px 0px #1c1b18;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
    background: -moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
    background: -webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
    background: -o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
    background: -ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
    background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#eae0c2', endColorstr='#ccc2a6', GradientType=0);
    background-color: #eae0c2;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: 2px solid #333029;
    display: inline-block;
    cursor: pointer;
    color: #505739;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.btn:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #eae0c2));
    background: -moz-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
    background: -webkit-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
    background: -o-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
    background: -ms-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
    background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ccc2a6', endColorstr='#eae0c2', GradientType=0);
    background-color: #ccc2a6;
}

.btn:active {
    position: relative;
    top: 1px;
}
