body
{
    text-align: center;
}

div {
	width:150px;
	margin: 10px auto;
	padding: 8px 35px 8px 14px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border: 1px solid #fbeed5;
	border-radius: 4px;
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #3a87ad;
}

