body
{
    margin: 0;
    padding: 0;
    font-size: 13px;
    text-decoration: none;
    background-color: thistle;
}

img {
	float: left;
}

.loading {
	width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.75);
    background-image: url(../images/loading.gif);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
}