<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>範例7-1</title>
    <link href="index.css" rel="stylesheet" />
    <script src="../js/vue.2.6.10.js"></script>
</head>
    <body>
        <div id="app">
            <input type="text" id="search" placeholder="搜尋" v-model="searchText" />
            <div id="list">
                <div v-for="(item, index) in userListInSearch">
                    <div>員工基本資料</div>
                    <div>姓名：{{item.name}}</div>
                    <div>年齡：{{item.age}}</div>
                    <div>技能：{{item.skill.toString()}}</div>
                    <div>職稱：{{item.title}}</div>
                    <div>年資：{{item.year}}</div>
                </div>
            </div>
        </div>
        <script src="index.js"></script>
    </body>
</html>
